.card-listing{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
.card-image{
    width:30%
}
.card-info{
    display:flex;
    flex-direction: column;
    justify-content:left;
    .edit-div{
        display:flex;
        justify-content: space-between;
    }
}
}